---
import { EditText } from "./EditText.jsx";
import stars from "../icons/stars.svg";
---

<nav class="h-full w-96 bg-[#2d2d2d] fixed top-0 right-0 text-[#E8E9EA]">
    
    <main class="mx-10 my-10">
        <EditText client:visible />
    </main>
</nav>
