---
import { Counter } from '../components/Counter.jsx';

export const prerender = false
---

<header class="py-8 px-4 mx-auto max-w-xl pt-32 lg:px-5">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 lg:text-7xl sm:text-6xl text-5xl tracking-tight font-extrabold dark:text-white text-slate-900">
            Welcome to <span class="block bg-gradient-to-r from-blue-600 to-green-500 text-transparent bg-clip-text">KnowMe</span>
        </h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400"> 
            Web application for create and share your own portfolio.
        </p>
        <Counter client:visible/>
    </div>
</header>