---
import PortfolioLayout from "../layouts/PortfolioLayout.astro";
import { ShowPortfolio } from "../components/ShowPortfolio.jsx";
import { getDomains, showDomain, getProbes, getProba} from "../services/communicationManager.js";

export const prerender = true;

// A docker compose dona error de connexió si es proba amb el Strapi
const { id } = Astro.params;

let jsonData;

if (id) {
  jsonData = [
    {
      components: [
        [],
        [
          {
            id: 1,
            type: "TitleComponent",
            text: "Título",
            bold: true,
            align: "center",
          },
        ],
        [],

      ],
      style: {
        sizes: [1, 1, 1],
        string: "minmax(40px,1fr) minmax(40px,1fr) minmax(40px,1fr)",
      },
    },
    {
      components: [[], [], []],
      style: {
        sizes: [1, 1, 1],
        string: "minmax(40px,1fr) minmax(40px,1fr) minmax(40px,1fr)",
      },
    },
    {
      components: [[], [], []],
      style: {
        sizes: [1, 1, 1],
        string: "minmax(40px,1fr) minmax(40px,1fr) minmax(40px,1fr)",
      },
    },
  ];
}

if (id) {
  jsonData = await showDomain(id);

  let content;
}

console.log(jsonData);

export async function getStaticPaths() {
  const data = await getDomains();

  return data.map((info) => {
    return {
      params: { id: info.id },
    };
  });
}
---

<PortfolioLayout title={jsonData.domini.webURL}>
  <main class="h-max w-screen">
    <div class="flex">
      <ShowPortfolio client:visible jsonData={jsonData} />
    </div>
  </main>
</PortfolioLayout>
