---
import EditPortfolioLayout from "../layouts/EditPortfolioLayout.astro";
import { ShowPortfolio } from "../components/ShowPortfolio.jsx";
import { getDomains, showDomain } from "../services/communicationManager.js";

export const prerender = true;

// A docker compose dona error de connexió si es proba amb el Strapi
const { id } = Astro.params;

let jsonData;

if (id) {
  jsonData = [
    {
      components: [[], [4], []],
      style: {
        sizes: [1, 1, 1],
        string: "minmax(40px,1fr) minmax(40px,1fr) minmax(40px,1fr)",
      },
    },
    {
      components: [[], [], []],
      style: {
        sizes: [1, 1, 1],
        string: "minmax(40px,1fr) minmax(40px,1fr) minmax(40px,1fr)",
      },
    },
    {
      components: [[], [], []],
      style: {
        sizes: [1, 1, 1],
        string: "minmax(40px,1fr) minmax(40px,1fr) minmax(40px,1fr)",
      },
    },
  ];
}

export async function getStaticPaths() {
  const data = [{ id: 1 }];

  return data.map((info) => {
    return {
      params: { id: info.id },
    };
  });
}
---

<EditPortfolioLayout title={"hola"}>
  <main class="h-max w-screen">
    <div class="flex">
      <ShowPortfolio jsonData={jsonData} />
    </div>
  </main>
</EditPortfolioLayout>
