---
import EditPortfolioLayout from "../layouts/EditPortfolioLayout.astro";
import { ShowPortfolio } from "../components/ShowPortfolio.jsx";
import { getDomains, showDomain, getProbes, getProba } from "../services/communicationManager.js";


export const prerender = true;

// A docker compose dona error de connexió si es proba amb el Strapi
const { id } = Astro.params;

let jsonData;

if (id) {
  jsonData = await showDomain(id);
}

console.log(jsonData);

export async function getStaticPaths() {
  const data = await getDomains();

  return data.map((info) => {
    return {
      params: { id: info.id },
    };
  });
}
---

<EditPortfolioLayout title={jsonData.attributes.proba}>
  <main class="h-max w-screen">
    <div class="flex">
      <ShowPortfolio jsonData={jsonData}/>
    </div>
  </main>
</EditPortfolioLayout>