---
import { getProbes } from "../../communicationManager.js";
export const prerender = true;

// A docker compose dona error de connexió si es proba amb el Strapi

export async function getStaticPaths() {
  const data = await getProbes();

  return data.map((info) => {
    return {
      params: { id: info.id },
      props: { info },
    };
  });
}

const { id } = Astro.params;
const propsA = Astro.props;
---

<div>
  {propsA.info.attributes.example}
  {propsA.info.attributes.proba}, you are number {id}!
</div>
