---
import PortfolioLayout from "../layouts/PortfolioLayout.astro";
import { ShowPortfolio } from "../components/ShowPortfolio.jsx";
import { getDomains, showDomain, getProbes, getProba} from "../services/communicationManager.js";

// export const prerender = true;

// A docker compose dona error de connexió si es proba amb el Strapi
const { weburl } = Astro.params;

export async function getStaticPaths() {
  const data = await getDomains();

  return data.map((info) => {
    return {
      params: { weburl: info.webURL },
    };
  });
}
---

<PortfolioLayout title={"hola"}>
  <main class="h-max w-screen">
    <div class="flex">
      <ShowPortfolio client:visible webURL={weburl} />
    </div>
  </main>
</PortfolioLayout>
