---
import Layout from '../layouts/Layout.astro';
---



<Layout title="KnowMe">
	<main>
		<div class="flex items-center justify-center">
			<a href="/portfolio-playground" class="flex items-center justify-center font-bold text-lg w-64 h-12 rounded-full bg-[#69b4ff] text-[#ffffff] hover:opacity-90 transition-all duration-100">Create your new Portfolio</a>
			<script>
				import { registerUser } from '../services/communicationManager.js';
				import { loginUser } from '../services/communicationManager.js';
				import {logoutUser} from '../services/communicationManager.js';
				import {updateUser} from '../services/communicationManager.js';
				import {changePassword} from '../services/communicationManager.js';
				import {deleteUser} from '../services/communicationManager.js';


				// Register, update and change password user
				// const user = {
				// 	user: 'johndoe',
				// 	name: 'John Doe',
				// 	surnames: 'Doe',
				// 	email: 'doe@gmail.com',
				// 	password: '12345678vL',
				// 	password_confirmation: '12345678vL'
				// };
				// console.log('Registering user');
				// console.log(user);

				// registerUser(user).then(data => {
				// 		console.log(data);
				// 		const token = data.token;
				// 		const userUpdate = {
				// 			user: 'jonyelPuto',
				// 			name: 'Johny',
				// 			surnames: 'VILELLA',
				// 		};
				// 		console.log('Updating user');
				// 		console.log(userUpdate);
				// 		updateUser(userUpdate, token).then(data => {
				// 				console.log(data);
				// 				const userChangePass = {
				// 					oldPassword: '12345678vL',
				// 					password: '987654321vL',
				// 					password_confirmation: '987654321vL'
				// 				};	
				// 				console.log('Changing password');
				// 				console.log(userChangePass);
				// 				changePassword(userChangePass, token).then(data => console.log(data));		
				// 		});
				// });

				// Login and logout user
				// const userLog = {
				// 	user: 'johndoe',
				// 	password: '12345678vL'
				// }

				// console.log('Logging in user');
				// console.log(userLog);
				// loginUser(userLog).then(data => 
				// {
				// 	console.log(data);
				// 	const token = data.token;
				// 	console.log('Logout user');
				// 	logoutUser(token);
				// });

				//Login and delete user
				// const userDelete = {
				// 		user: 'jonyelPuto',
				// 		password: '987654321vL'
				// 	}
				// console.log('Logging in user');
				// console.log(userDelete);
				// loginUser(userDelete).then(data => {
				// 		console.log(data);
				// 		const token = data.token;
				// 		console.log('Deleting user');
				// 		deleteUser(token).then(data => console.log(data.message));
				// });
			</script>
		</div>
	</main>
</Layout>