---
import EditPortfolio from '../layouts/EditPortfolio.astro';
import RightSideBar from '../components/RightSideBar.astro';
---

<EditPortfolio title="KnowMe Playground">
	<main class="h-max">
		<RightSideBar />
	</main>
</EditPortfolio>