---
import EditPortfolioLayout from "../layouts/EditPortfolioLayout.astro";
import EditPortfolio from "../components/EditPortfolio.jsx";
import { useRightSideBarStore } from '@/store/rightSideBarStore.js'
---
<EditPortfolioLayout title="KnowMe Playground">
	<main class="h-max w-screen">
		<div class="flex">
			<EditPortfolio client:visible/>
		</div>
	</main>
</EditPortfolioLayout>