---
import EditPortfolio from "../layouts/EditPortfolio.astro";
import RightSideBar from "../components/RightSideBar.astro";
import PrototypePortfolio from "../components/PrototypePortfolio.astro";
---

<EditPortfolio title="KnowMe Playground">
	<main class="h-max w-screen">
		<div class="flex w-full">
			<PrototypePortfolio />
			<RightSideBar/>
		</div>
	</main>
</EditPortfolio>
