---
import EditPortfolio from '../layouts/EditPortfolio.astro';
import { RightSideBar }from '../components/RightSideBar.jsx';
---

<EditPortfolio title="KnowMe Playground">
	<main class="h-max">
		<RightSideBar client:visible/>
	</main>
</EditPortfolio>